
  <div class="card">
    <a class="rakuten" href="/recipes/<%= recipe.id %>">
      <%= image_tag "#{recipe.image}", class: "card-img-top"%>
      <div class="card-body">
        <p class="category"><%= recipe.name %></p>
        <p class="descripsion"><%= simple_format(recipe.detail) %></p> 
      </div>
    </a>
  </div>



