<div class="header">
  <div class="header__title">
    
  </div>
  <div class="header__images">
    <img src="../images/illustrain06-inu02.png" class="header__images--dog">
    <img src="../images/illustrain10-inu02.png" class="header__images--disc">
  </div>
  <div class="header__detail">
    
  </div>
</div>


<div class="wrapper">
  <div class="side">
    <%= render partial: "sidebar" %>
  </div>

  <div class="main">
    <div class="contents">
      <div class="recipes">
              
      <div class="container">
        <p class="new-howto__recipe-name">レシピ一覧</p>
        <div class="card-columns">
          <%= render @recipes %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>