<div class="header">
  <div class="header__title">
    ここにタイトル
  </div>
  <p>ヘッダーの画像が入る</p>
  <div class="header__detail">
    サイトの説明文とかいろいろ
  </div>
</div>

<div class="wrapper">
  <div class="side">
    <div class="sidebar">
      <div class="category">
        <div class="category__name">
          カテゴリ
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="contents">
      <div class="products">

          <div class="grid" data-masonry='{ "itemSelector": ".item", "columnWidth": 200, "gutter": 50 }'>

            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <p class="category">main dishoooooooooopppppppppp</p>
                <p class="descripsion">hellohellohellooooooooooooo</p> 
              </a>
            </section>
    
            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>

            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>
    
            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>

            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>
    
            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>

            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>
    
            <section class="item">
              <a href="#">
                <img class="image" src="../images/noimage.jpg">
                <div class="category">main dish</div>
                <p class="descripsion">hellohellohello</p> 
              </a>
            </section>

          </div>
         

      </div>
    </div>
  </div>
</div>